#map {
	height: 400px;
	width: 100%;

	img {
		max-width: none;
	}

	.content {
		padding: 0 .5em 1em;
	}

	.firstHeading {
		font-size: 1em;
		font-weight: bold;
		line-height: 1em;
		margin: 0;
	}

	#bodyContent p {
		font-size: 1em;
		margin: 0;
	}
}

.map-copy {
	align-items: center;
	background: $color-lime;
	display: flex;
	font-size: 20px;
	justify-content: center;
	padding: 40px 0;

	h2 {
		display: inline-block;
		font-size: 36px;
		position: relative;

		&::after {
			@include position(absolute, null null -11px 0);
			background: $color-pink;
			content: '';
			height: 4px;
			width: 33%;
		}
	}

	strong {
		font-size: 24px;
		font-weight: 500;
	}
}

.container-full {
	@include outer-container(100%);

	@media (min-width: 650px) {
		display: flex;

		> div {
			padding: 0;
			width: 50%;
		}
	}
}