html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #3d7cc9;
  border: 0;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: "BentonSans", system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
  background-color: #3163a1;
  color: #fff;
}

button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
  outline: 3px solid rgba(61, 124, 201, 0.6);
  outline-offset: 2px;
}

button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: not-allowed;
  opacity: .5;
}

button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
  background-color: #3d7cc9;
}

@font-face {
  font-family: "BentonSans";
  font-weight: 100;
  src: url("../fonts/BentonSans-Thin.woff") format("woff");
}

@font-face {
  font-family: "BentonSans";
  font-weight: 300;
  src: url("../fonts/BentonSans-Light.woff") format("woff");
}

@font-face {
  font-family: "BentonSans";
  font-weight: 400;
  src: url("../fonts/BentonSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "BentonSans";
  font-weight: 500;
  src: url("../fonts/BentonSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "BentonSans";
  font-weight: 700;
  src: url("../fonts/BentonSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "BentonSans";
  font-weight: 900;
  src: url("../fonts/BentonSans-Black.woff") format("woff");
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select,
textarea {
  display: block;
  font-family: "BentonSans", system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
}

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}

[type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}

[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  border-color: #3d7cc9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(61, 124, 201, 0.7);
  outline: none;
}

[type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #dddddd;
}

[type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 0.75em;
  width: 100%;
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(61, 124, 201, 0.6);
  outline-offset: 2px;
}

html {
  background-color: #ffffff;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.container::after {
  clear: both;
  content: "";
  display: block;
}

.page-section,
.small-section {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 140px 0;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .page-section,
  .small-section {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 768px) {
  .page-section,
  .small-section {
    padding: 80px 0;
  }
}

.small-section {
  padding: 70px 0;
}

@media only screen and (max-width: 480px) {
  .small-section {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 768px) {
  .small-section {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .page-section,
  .home-section,
  .small-section {
    background-attachment: scroll;
  }
}

.mobile .page-section,
.mobile .home-section,
.mobile .small-section {
  background-attachment: scroll;
}

.home-section {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.fixed-height-small {
  box-sizing: border-box;
  min-height: 600px;
}

@media only screen and (max-width: 480px) {
  .fixed-height-small {
    min-height: 300px;
  }
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

.inline-list li {
  display: inline-block;
  margin-right: 1.5em;
}

.inline-list li:last-of-type {
  margin-right: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: 1.2;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: 1px solid #dddddd;
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.75em 0.75em 0.75em 0;
}

html {
  color: #333333;
  font-family: "BentonSans", system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BentonSans", system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #3d7cc9;
  text-decoration: none;
  text-decoration-skip: ink;
  transition: color 150ms ease;
}

a:hover {
  color: #2e5d97;
}

a:focus {
  outline: 3px solid rgba(61, 124, 201, 0.6);
  outline-offset: 2px;
}

hr {
  border-bottom: 1px solid #dddddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

.footer {
  background-color: #f8f8f8;
  margin-bottom: 0.75em;
  padding: 3em 1.5em;
  position: relative;
  text-align: center;
  width: 100%;
}

.footer::after {
  position: absolute;
  right: 0;
  bottom: -0.75em;
  left: 0;
  background-color: #c5c5c5;
  content: "";
  display: block;
  height: 0.75em;
  width: 100%;
}

.footer__logo {
  height: 3em;
  margin-bottom: 1.5em;
}

.footer__logo svg {
  height: 100%;
}

.footer__nav {
  padding-bottom: 0.75em;
}

.footer__nav--item {
  color: #333333;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer__nav--item:hover {
  color: #2261ae;
}

.footer__disclaimer {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
  margin-left: auto;
}

.footer__disclaimer::after {
  clear: both;
  content: "";
  display: block;
}

.footer__disclaimer--logo {
  display: inline-block;
  margin-bottom: 0.75em;
}

@media (min-width: 450px) {
  .footer__disclaimer--logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .footer__disclaimer--logo:last-child {
    margin-right: 0;
  }
}

.footer__disclaimer--logo svg {
  cursor: pointer;
  fill: #3d7cc9;
  margin-bottom: 0.75em;
  vertical-align: middle;
}

.footer__disclaimer--logo svg:hover {
  fill: #2261ae;
}

.footer__disclaimer--text {
  color: #999999;
  font-size: calcRem(12);
}

@media (min-width: 450px) {
  .footer__disclaimer--text {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    padding-left: 1.5em;
    text-align: left;
  }
  .footer__disclaimer--text:last-child {
    margin-right: 0;
  }
}

.footer hr {
  border-color: #6bcbbb;
  display: inline-block;
  width: 12em;
}

.social-list a {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  margin-right: 0.75em;
  vertical-align: middle;
}

@media (min-width: 450px) {
  .social-list a {
    height: 1.875em;
    width: 1.875em;
    margin-right: 1.5em;
  }
}

.social-list a:last-of-type {
  margin-right: 0;
}

.social-list a svg {
  fill: #3d7cc9;
}

.social-list a svg:hover {
  fill: #2261ae;
}

.bg-dark-alfa-70::before {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.45);
  content: "";
}

.home-content {
  height: 100%;
  width: 100%;
  color: #ffffff;
  display: table;
  position: relative;
  text-align: center;
}

.home-text {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.home-text__location {
  background: #3d7cc9;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0.375em;
  padding: 0.375em 0.75em;
}

@media (min-width: 450px) {
  .home-text__location {
    font-size: 20px;
  }
}

@media (min-width: 767px) {
  .home-text__location {
    font-size: 24px;
  }
}

.home-text__location li {
  display: inline-block;
  text-transform: uppercase;
}

.home-text__location li svg {
  height: 16px;
  line-height: 0;
  margin: 0 10px;
}

@media (min-width: 767px) {
  .home-text__location li svg {
    height: 20px;
  }
}

.home-text__title {
  font-size: 28px;
  font-weight: 500;
}

@media (min-width: 450px) {
  .home-text__title {
    font-size: 36px;
  }
}

@media (min-width: 767px) {
  .home-text__title {
    font-size: 48px;
  }
}

.home-text__subtitle {
  font-weight: 300;
}

@media (min-width: 450px) {
  .home-text__subtitle {
    font-size: 24px;
  }
}

@media (min-width: 767px) {
  .home-text__subtitle {
    font-size: 30px;
  }
}

@media (min-width: 900px) {
  .intro-sec__copy {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .intro-sec__copy:last-child {
    margin-right: 0;
  }
}

.intro-sec__copy .lead {
  font-size: 24px;
}

.intro-sec__copy p {
  font-size: 20px;
  line-height: 1.6;
}

.intro-sec #triangle-pattern-intro {
  display: none;
}

@media (min-width: 900px) {
  .intro-sec #triangle-pattern-intro {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 50%;
  }
}

#map {
  height: 400px;
  width: 100%;
}

#map img {
  max-width: none;
}

#map .content {
  padding: 0 0.5em 1em;
}

#map .firstHeading {
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  margin: 0;
}

#map #bodyContent p {
  font-size: 1em;
  margin: 0;
}

.map-copy {
  align-items: center;
  background: #c9da2a;
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding: 40px 0;
}

.map-copy h2 {
  display: inline-block;
  font-size: 36px;
  position: relative;
}

.map-copy h2::after {
  position: absolute;
  bottom: -11px;
  left: 0;
  background: #ed3e7a;
  content: "";
  height: 4px;
  width: 33%;
}

.map-copy strong {
  font-size: 24px;
  font-weight: 500;
}

.container-full {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-full::after {
  clear: both;
  content: "";
  display: block;
}

@media (min-width: 650px) {
  .container-full {
    display: flex;
  }
  .container-full > div {
    padding: 0;
    width: 50%;
  }
}

.navbar {
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  height: 60px;
  position: relative;
  width: 100%;
}

.navbar-logo__wrap {
  display: table;
  float: left;
  margin-right: 20px;
}

.navbar-logo__wrap > a {
  display: table-cell;
  height: 60px;
  margin: 0;
  vertical-align: middle;
}

.navbar-logo__wrap > a svg {
  height: 45px;
  vertical-align: middle;
}

.video-sec {
  background-image: url("../img/video-bg-01.svg");
}

.video-sec::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #3d7cc9;
  content: "";
  z-index: -1;
}

.video-sec__wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

.video-sec__wrap:last-child {
  margin-right: 0;
}

@media (min-width: 850px) {
  .video-sec__wrap {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
  }
  .video-sec__wrap:last-child {
    margin-right: 0;
  }
}

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video-wrapper embed,
.video-wrapper object,
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.dropdown {
  display: inline-block;
  float: right;
  line-height: 60px;
  position: relative;
}

.dropdown a:hover {
  background-color: #2261ae;
}

.dropdown button {
  background-color: #ed3e7a;
  color: #f8f8f8;
  font-size: 14px;
  text-transform: uppercase;
}

.dropdown-content {
  background-color: #3d7cc9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 178px;
  overflow: auto;
  position: absolute;
  text-align: center;
  z-index: 1;
}

.dropdown-content a {
  border-bottom: 1px solid #2261ae;
  color: #f8f8f8;
  display: block;
  line-height: 1.5;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.dropdown-content a:last-child {
  border-bottom: 0;
}

.show {
  display: block;
}

.page-loader {
  background: #c9da2a;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}

.wrapper {
  animation: spin 1s linear infinite;
  height: 174px;
  left: 50%;
  margin-left: -75px;
  margin-top: -87px;
  position: relative;
  top: 50%;
  transform-origin: 16% 34%;
  width: 300px;
}

.inner {
  animation: inner 1s linear infinite;
  border-bottom: 87px solid #ed3e7a;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  box-sizing: border-box;
  height: 0;
  transform-origin: 50% 65%;
  width: 0;
}

.triangle {
  border-bottom: 87px solid #2261ae;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  box-sizing: border-box;
  float: left;
  height: 0;
  position: relative;
  transform-origin: 50% 0%;
  width: 0;
}

.triangle:nth-of-type(2) {
  animation: a 1s linear infinite;
  left: -100px;
  top: -87px;
}

.triangle:nth-of-type(3) {
  animation: b 1s linear infinite;
  left: -100px;
  top: 87px;
  transform: rotate(-180deg);
}

.triangle:nth-of-type(4) {
  animation: c 1s linear infinite;
  left: -100px;
  top: -87px;
  transform: rotate(60deg);
}

@keyframes a {
  from {
    transform: rotate(-60deg) scale(1);
  }
  to {
    border-bottom-color: #6bcbbb;
    transform: rotate(-60deg) scale(0);
  }
}

@keyframes b {
  from {
    transform: rotate(-180deg) scale(1);
  }
  to {
    border-bottom-color: #6bcbbb;
    transform: rotate(-180deg) scale(0);
  }
}

@keyframes c {
  from {
    transform: rotate(60deg) scale(1);
  }
  to {
    border-bottom-color: #6bcbbb;
    transform: rotate(60deg) scale(0);
  }
}

@keyframes inner {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(60deg) scale(2);
  }
}

@keyframes spin {
  from {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(60deg);
  }
}
