@import '../../node_modules/bourbon/core/bourbon';
@import '../../node_modules/bourbon-neat/app/assets/stylesheets/neat';
@import "base/font-face";
@import "base/variables";
@import "base/buttons";
@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/media";
@import "base/tables";
@import "base/typography";
@import "components/navbar";
@import "components/hero";
@import "components/intro";
@import "components/video";
@import "components/footer";
@import "components/map";

.dropdown {
	position: relative;
	display: inline-block;
	line-height: 60px;
	float: right;

	a:hover {
		background-color: $color-blue-d;
	}

	button {
		background-color: $color-pink;
		color: $color-snow;
		text-transform: uppercase;
		font-size: 14px;
	}
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: $color-blue-l;
	min-width: 178px;
	overflow: auto;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align: center;

	a {
		color: $color-snow;
		padding: ($small-spacing / 2) $small-spacing;
		text-decoration: none;
		display: block;
		line-height: 1.5;
		border-bottom: 1px solid $color-blue-d;

		&:last-child {
			border-bottom: 0;
		}
	}
}

.show {
	display: block;
}


.page-loader{
	display:block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: $color-lime;
	z-index: 100000;
}



.wrapper {
  position: relative;
	top: 50%;
	left: 50%;
  animation: spin 1s linear infinite;
  transform-origin: 16% 34%;
  height: 174px;
	width: 300px;
	margin-top: -87px;
	margin-left: -75px;
}

.inner {
  width: 0;
  height: 0;
  border-bottom: 87px solid $color-pink;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  box-sizing: border-box;
  transform-origin: 50% 65%;
  animation: inner 1s linear infinite;
}

.triangle {
  float: left;
  width: 0;
  height: 0;
  border-bottom: 87px solid $color-blue-d;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  transform-origin: 50% 0%;
  position: relative;
  box-sizing: border-box;
}

.triangle:nth-of-type(2) {
  top: -87px;
  left: -100px;
  animation: a 1s linear infinite;
}

.triangle:nth-of-type(3) {
  transform: rotate(-180deg);
  top: 87px;
  left: -100px;
  animation: b 1s linear infinite;
}

.triangle:nth-of-type(4) {
  transform: rotate(60deg);
  top: -87px;
  left: -100px;
  animation: c 1s linear infinite;
}

@keyframes a {
  from {
    transform: rotate(-60deg) scale(1);
  }
  to {
    transform: rotate(-60deg) scale(0);
    border-bottom-color: $color-teal;
  }
}

@keyframes b {
  from {
    transform: rotate(-180deg) scale(1);
  }
  to {
    transform: rotate(-180deg) scale(0);
    border-bottom-color: $color-teal;
  }
}

@keyframes c {
  from {
    transform: rotate(60deg) scale(1);
  }
  to {
    transform: rotate(60deg) scale(0);
    border-bottom-color: $color-teal;
  }
}

@keyframes inner {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(60deg) scale(2);
  }
}

@keyframes spin {
  from {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(60deg);
  }
}


