@import "../../node_modules/bourbon/core/bourbon";
@import "../../node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "base/**/*";
@import "components/**/*";

.dropdown {
	display: inline-block;
	float: right;
	line-height: 60px;
	position: relative;

	a:hover {
		background-color: $color-blue-d;
	}

	button {
		background-color: $color-pink;
		color: $color-snow;
		font-size: 14px;
		text-transform: uppercase;
	}
}

.dropdown-content {
	background-color: $color-blue-l;
	box-shadow: 0 8px 16px 0 rgba($black, .2);
	display: none;
	min-width: 178px;
	overflow: auto;
	position: absolute;
	text-align: center;
	z-index: 1;

	a {
		border-bottom: 1px solid $color-blue-d;
		color: $color-snow;
		display: block;
		line-height: 1.5;
		padding: ($small-spacing / 2) $small-spacing;
		text-decoration: none;

		&:last-child {
			border-bottom: 0;
		}
	}
}

.show {
	display: block;
}

.page-loader {
	background: $color-lime;
	display: block;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}

.wrapper {
	animation: spin 1s linear infinite;
	height: 174px;
	left: 50%;
	margin-left: -75px;
	margin-top: -87px;
	position: relative;
	top: 50%;
	transform-origin: 16% 34%;
	width: 300px;
}

.inner {
	animation: inner 1s linear infinite;
	border-bottom: 87px solid $color-pink;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	box-sizing: border-box;
	height: 0;
	transform-origin: 50% 65%;
	width: 0;
}

.triangle {
	border-bottom: 87px solid $color-blue-d;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	box-sizing: border-box;
	float: left;
	height: 0;
	position: relative;
	transform-origin: 50% 0%;
	width: 0;

	&:nth-of-type(2) {
		animation: a 1s linear infinite;
		left: -100px;
		top: -87px;
	}

	&:nth-of-type(3) {
		animation: b 1s linear infinite;
		left: -100px;
		top: 87px;
		transform: rotate(-180deg);
	}

	&:nth-of-type(4) {
		animation: c 1s linear infinite;
		left: -100px;
		top: -87px;
		transform: rotate(60deg);
	}
}

@keyframes a {
	from {
		transform: rotate(-60deg) scale(1);
	}

	to {
		border-bottom-color: $color-teal;
		transform: rotate(-60deg) scale(0);
	}
}

@keyframes b {
	from {
		transform: rotate(-180deg) scale(1);
	}

	to {
		border-bottom-color: $color-teal;
		transform: rotate(-180deg) scale(0);
	}
}

@keyframes c {
	from {
		transform: rotate(60deg) scale(1);
	}

	to {
		border-bottom-color: $color-teal;
		transform: rotate(60deg) scale(0);
	}
}

@keyframes inner {
	from {
		transform: rotate(0deg) scale(1);
	}

	to {
		transform: rotate(60deg) scale(2);
	}
}

@keyframes spin {
	from {
		transform: rotate(-60deg);
	}

	to {
		transform: rotate(60deg);
	}
}